<!-- Landing page for the site, first thing anyone sees -->

<div class="container selector">
    <h2>What would you like to do?</h2>
    <button class="btn btn-default" ng-click="goToEncode()">Encode</button>
    <button class="btn btn-default" ng-click="goToDecode()">Decode</button>
</div>

<div class="container options">
    <div class="row">
        <div class="col-sm-6">
            <h2>Encode</h2>
            <h4>Encode a message into a picture you upload here. Send it to friends, and have them use our decode tool to see your secret message!</h4>
        </div>
        <div class="col-sm-6">
            <h2>Decode</h2>
            <h4>Did you have a picture that was encoded with a message? Upload the image using our Decode tool to reveal the hidden text!</h4>
        </div>
    </div>
</div>