<!-- Landing page for the site, first thing anyone sees -->

<div class="container selector">
    <h2>What would you like to do?</h2>
    <button class="btn btn-default" ng-click="goToEncode()">Encode</button>
    <button class="btn btn-default" ng-click="goToDecode()">Decode</button>
</div>

<div class="container options">
    <div class="row">
        <h2>How it works: </h2>
        <div class="col-sm-4">
            <h3>Step 1: Encode Each Pixel</h3>
            <p>We alter the Least Significant Bit (see info section below) to include more information.</p>
        </div>
        <div class="col-sm-4">
            <h3>Step 2: Alter the Picture</h3>
            <p>Since we altered something so small, it is undetectable to the human eye.</p>
        </div>
        <div class="col-sm-4">
            <h3>Step 3: Decode the Hidden Information</h3>
            <p>We can see what we've altered in the LSB and use that to decode the message.</p>
        </div>
    </div>
</div>